<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        .form-group {
            display: block;
            margin-bottom: 16px;
        }
        
        #btn-leave {
            margin-bottom: 16px;
        }
    </style>
</head>

<body>
    <h1>Chat</h1>
    <!-- <p>
        Click "Open" to create a connection to the server, 
        "Send" to send a message to the server and "Close" to close 
        the connection. You can change the message and send multiple times.
    </p>
    <button id="btn-open">Open</button>-->
    <button id="btn-leave">Leave Room</button> 
    <form>
        <div class="form-group">
            <label for="roomId">Room ID:</label>
            <select id="roomId" name="roomId">
                <option value="default">Default</option>
                <option value="room1">Room 1</option>
                <option value="room2">Room 2</option>
                <option value="room3">Room 3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="input">Message:</label>
            <input type="text" id="input" value="Hello world">
        </div>
        
        <button id="btn-send">Send</button>
    </form>
    <div id="output" style="max-height: 70vh; overflow-y: scroll;"></div>

    <script>
        const output = document.getElementById("output");
        const input = document.getElementById("input");
        const roomIdInput = document.getElementById("roomId");
        let ws;

        // Set reconnect interval to 5 miliseconds
        const reconnectInterval = 5000 

        // Initialize Websocket on page loaded
        document.addEventListener("DOMContentLoaded", function(e) {
            console.log("DOM fully loaded and parsed");
            openConnection(e);
        });

        document.addEventListener("beforeunload", function(e) {
            e.preventDefault();
            e.returnValue = '';
            closeConnection(e);
        });

        function printMessage(message) {
            const el = document.createElement("p")
            el.textContent = message;
            output.appendChild(el);
            output.scroll(0, output.scrollHeight)
        }

        function openConnection(event) {
            event.preventDefault();

            if (ws) {
                return;
            }

            ws = new WebSocket("{{.}}");
            ws.onopen = function(event) {
                console.log("OPEN: ", event);
            }
            ws.onclose = function(event) {
                console.log("CLOSE: ", event);
                ws = null;

                // Attemp to reconnect when connection is closed
                setTimeout(() => {
                    openConnection(event);
                }, reconnectInterval);
            }
            ws.onmessage = function(event) {
                console.log("MESSAGE: ", event);
                printMessage(event.data)
            }
            ws.onerror = function(event) {
                console.log("ERROR: ", event)
            }
        }

        // document.getElementById("btn-open").addEventListener("click", openConnection);

        function sendMessageHandler(event) {
            event.preventDefault();
            
            if (!ws) {
                console.log("NO CONNECTION ESTABLISHED");
                return;
            }

            const message = input.value;
            const roomId = roomIdInput.value;
            
            const payload = {
                type: 'message',
                roomId: roomId,
                content: message,
            }
            const jsonPayload = JSON.stringify(payload);
            console.log("SENDING MESSAGE: ", jsonPayload)
            ws.send(jsonPayload);
        }

        document.getElementById("btn-send").addEventListener("click", sendMessageHandler)

        function changeRoomHandler(event) {
            event.preventDefault();

            if (!ws) {
                console.log("NO CONNECTION ESTABLISHED");
                return;
            }

            const roomId = roomIdInput.value;
            const payload = {
                type: 'join',
                roomId: roomId,
                content: '',
            }
            const jsonPayload = JSON.stringify(payload);
            console.log("CHANGING ROOM: ", jsonPayload)
            ws.send(jsonPayload);
        }

        roomIdInput.addEventListener("change", changeRoomHandler)

        function closeConnection(event) {
            event.preventDefault();

            if (!ws) {
                console.log("NO CONNECTION ESTABLISHED");
                return;
            }
            
            ws.close()
            console.log("CONNECTION WAS CLOSED")
        }

        function leaveRoomHandler(event) {
            event.preventDefault();

            if (!ws) {
                console.log("NO CONNECTION ESTABLISHED");
                return;
            }

            const roomId = roomIdInput.value;
            const payload = {
                type: 'leave',
                roomId: roomId,
                content: '',
            }
            const jsonPayload = JSON.stringify(payload);
            console.log("LEAVING ROOM: ", jsonPayload)
            ws.send(jsonPayload);
        }

        document.getElementById("btn-leave").addEventListener("click", leaveRoomHandler)
    </script>
</body>

</html>